.formContainer {
    background-image: url('../../assets/img/Landing_Fondo.png');
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    height: auto; /* Cambia esto a un valor más alto si es necesario */
    width: 100%; /* El ancho del contenedor ocupa todo el ancho disponible */
    position: absolute;
}

