.filterContainer{
    display: flex;
    flex-direction: row;
    margin-left: 0.9em;
    margin-right: 0.9em;
}

.filGames{
    margin-right: 1em;
}

.select {
    width: 150px;
    height: 35px;
    padding: 4px;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
    outline: none;
    text-align: center;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    filter: drop-shadow(13px 3px 3px #000);
    font-size: medium;
  }
 .option{
  background-color: #eee;
  color:#000;
 }
  .label {
    position: relative;
    text-shadow: 0px 2px 0px rgba(22, 22, 22, 0.81);
    font-size: large;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.825);
  }
  .label:after {
    content: '<>';
    font: 11px "Consolas", monospace;
    color: #666;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 35px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;

  }
  .label:before {
    content: '';
    right: 6px;
    top: 30px;
    width: 20px;
    height: 20px;
    background: #eee;
    position: absolute;
    pointer-events: none;
    display: block;
  } 